/* Complete the CSS styling according to the provided design */

/* *{
    background: rgb(0 100 0 / 0.1) !important;
    outline: 1px solid limegreen !important
} */

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-image: url("images/table.png");
    background-size: cover;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.container {
    width: 400px;
    height: 400px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;    
}

#draw-btn {
    background-color: transparent;
    color: transparent;
}

button {
    border: none;
    color: #016f32;
    background: goldenrod;
    width: 150px;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 5px;
    border-radius: 4px;
}