/* Complete the CSS styling according to the provided design */

/* *{
    background: rgb(0 100 0 / 0.1) !important;
    outline: 1px solid limegreen !important
} */

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-image: url("images/table.png");
    background-size: cover;
    font-size: 20px;
    font-weight: bold;
}

.container {
    width: 400px;
    margin: 0px auto;
}

h1 {
    color: goldenrod;
}

p{
    color: white;
}

#message-el {
    font-style: italic;    
}
